<html>

<head>

</head>



<body>


  <table class="maintab" width="100%">

    <tr>
      <td align="center" colspan="4">
        <img src="https://smak.unishk.edu.al/unireports/headerImage.png" />
      </td>
    </tr>

    <tr>
      <td>
        <span class="staff">
          {{ result.plani.programi.departamenti.fakulteti.emertimi }}
        </span>
      </td>
      <td colspan="2">
        <div class="staff">
          <b>{{ result.plani.programi.emertimi }}</b>
        </div>
      </td>
      <td colspan="2">
        <div class="staff">
          Viti Akademik {{ result.plani.periudha}}
        </div>
      </td>
    </tr>

    <tr>
      <td width="30%">

      </td>
      <td colspan="2">
      </td>
      <td width="30%"></td>
    </tr>
    <tr>
      <td width="30%">
        <div class="fakultname">
          {{ result.plani.programi.departamenti.emertimi }}
        </div>
      </td>

      <td align="center" width="30%">
        <span class="staff">
          Cikli: {{ result.plani.cikli}}
        </span>
      </td>
    </tr>
  </table>

  <br></br>

  <!-- shto kodin per kategorite-->
  <table class="maintab" width="100%">
    <tr bgcolor="#ccd4e6">
      <th width="40%">
        <span class="staff">
          <b>Tipi i veprimtarisë dhe simboli përcaktues</b>
        </span>
      </th>
      <td width="30%">
        <div class="staff">
          <b>Fusha disiplinore apo veprimtari të tjera formuese</b>
        </div>
      </td>
      <td width="10%">
        <div class="staff">
          <b>Kredite</b>
        </div>
      </td>
      <td width="10%">
        <div class="staff">
          <b>Totali krediteve</b>
        </div>
      </td>
      <td width="10%">
        <div class="staff ">
          <b>%</b>
        </div>
      </td>
    </tr>
    {% set varA = namespace(value=0) %}
    {% set varB = namespace(value=0) %}
    {% set varC = namespace(value=0) %}
    {% set varD = namespace(value=0) %}
    {% set varE = namespace(value=0) %}


    {% for tipi in result.obj1 %}

    {% for lende in result.obj2 if lende.tipiveprimtarise == tipi.tipiveprimtarise %}

    <tr bgcolor="#ccd4e6">
      {% if lende.tipiveprimtarise == "A" %}
      {% set varA.value = varA.value + 1 %}
      {% if varA.value == 1 %}
      <td rowspan="{{ tipi.total }}" width="40%">LENDE BAZE-pergatitje metodologiike dhe kulture e pergjithshme (Simboli
        A)</td>
      <td width="30%">{{ lende.emertimi }}</td>
      <td width="10%">{{ lende.kredite }}</td>
      <td rowspan="{{ tipi.total }}" width="10%">{{ tipi.totkrediteveprimtari }}</td>
      <td rowspan="{{ tipi.total }}" width="10%">{{ tipi.percent }}</td>
      {% else %}
      <td width="30%">{{ lende.emertimi }}</td>
      <td width="10%">{{ lende.kredite }}</td>
      {% endif %}
      {% elif lende.tipiveprimtarise == "B" %}
      {% set varB.value = varB.value + 1 %}
      {% if varB.value == 1 %}
      <td rowspan="{{ tipi.total }}" width="40%">LËNDË KARAKTERIZUESE-përgatitje për disiplinën shkencore (Simboli B)
      </td>
      <td width="30%">{{ lende.emertimi }}</td>
      <td width="10%">{{ lende.kredite }}</td>
      <td rowspan="{{ tipi.total }} width=" 10%" ">{{ tipi.totkrediteveprimtari }}</td>
                            <td rowspan=" {{ tipi.total }} width="10%" ">{{ tipi.percent }}</td>
                          {% else %}
                            <td width=" 30%">{{ lende.emertimi }}</td>
      <td width="10%">{{ lende.kredite }}</td>
      {% endif %}

      {% elif lende.tipiveprimtarise == "C" %}
      {% set varC.value = varC.value + 1 %}
      {% if varC.value == 1 %}

      <td rowspan="{{ tipi.total }}" width="40%">LËNDË NDËRDISIPLINORE/INTEGRUESE-nëndidiplina, profile dhe grup-lëndë
        me zgjedhje (Simboli C)</td>
      <td width="30%">{{ lende.emertimi }}</td>
      <td width="10%">{{ lende.kredite }}</td>
      <td rowspan="{{ tipi.total }}" width="10%">{{ tipi.totkrediteveprimtari }}</td>
      <td rowspan="{{ tipi.total }}" width="10%">{{ tipi.percent }}</td>
      {% else %}
      <td width="30%">{{ lende.emertimi }}</td>
      <td width="10%">{{ lende.kredite }}</td>
      {% endif %}
      {% elif lende.tipiveprimtarise == "D" %}
      {% set varD.value = varD.value + 1 %}
      {% if varD.value == 1 %}
      <td rowspan="{{ tipi.total }}" width="40%">LËNDË PLOTËSUESE-gjuhë të huaja, njohuri informatike, praktika
        profesionale (Simboli D)</td>
      <td width="30%">{{ lende.emertimi }}</td>
      <td width="10%">{{ lende.kredite }}</td>
      <td rowspan="{{tipi.total}}" width="10%">{{ tipi.totkrediteveprimtari }}</td>
      <td rowspan="{{tipi.total}}" width="10%">{{ tipi.percent }}</td>
      {% else %}
      <td width="30%">{{ lende.emertimi }}</td>
      <td width="10%">{{ lende.kredite }}</td>
      {% endif %}
      {% else %}
      {% set varE.value = varE.value + 1 %}
      {% if varE.value == 1 %}
      <td rowspan="{{ tipi.total }}" width="40%">DETYRIME PËRMBYLLËSE. (Simboli E)</td>
      <td width="30%">{{ lende.emertimi }}</td>
      <td width="10%">{{ lende.kredite }}</td>
      <td rowspan="{{ tipi.total }}" width="10%">{{ tipi.totkrediteveprimtari }}</td>
      <td rowspan="{{ tipi.total }}" width="10%">{{ tipi.percent }} </td>
      {% else %}
      <td width="30%">{{ lende.emertimi }}</td>
      <td width="10%">{{ lende.kredite }}</td>
      {% endif %}


    </tr>
    {% endif %}
    {% endfor %}

    {% endfor %}



    <tr bgcolor="#eef1f7" style="page-break-inside:avoid;">
      <th colspan="3" align="left">
        Totali
      </th>
      {{result.totkredite.totKredite}}
      <th width="10%">

      </th>
      <th width="10%">
        {{result.finaltotal_percent}}
      </th>
    </tr>
  </table>





</body>

</html>