@page {
    size: Letter landscape; 
      margin: 0in 0.44in 0.2in 0.44in;   
      
    
    

}



table { break-inside:auto }
tr,td  {
     /* break-inside:avoid; */
     /* break-after:auto  */
     
    
     break-inside: avoid;
    
    }

