@page {
   /*  size: Letter landscape; 
      margin: 0in 0.44in 0.2in 0.44in;    */

      size: A4 landscape;
    
     
      
    
    

}



table { page-break-inside:auto }

tr,td, td[rowspan]  {
  /* break-inside:avoid;
   break-after:auto  ; 
  */
 
  page-break-inside: avoid;
 
 }
